/*login*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f5f1f0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 600px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    margin-top: 50px;
}
  
.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}
  
form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}
  
form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}
  
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.logo img {
    width: 220px;
}
  
.heading h2 {
    font-size: 40px;
    font-weight: 600;
    color: #151111;
    text-align: center;
}
  
.heading h6 {
    color: #646363;
    font-weight: 400;
    font-size: 14px;
    display: inline;
}

.heading a {
    font-weight: bolder;
    font-size: 15px;
}

.toggle {
    color: #151111;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}
  
.toggle:hover {
    color: #8371fd;
}
  
.input__wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}
  
.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151111;
    transition: 0.4s;
}
  
.input-field.active {
    border-bottom-color: #151111;
}
  
.input-field.active + label {
    font-size: 0.75rem;
    top: -2px;
}
  
.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    transition: 0.3s;
}
  
.sign-btn:hover {
    background-color: #8371fd;
}
  
.text {
    color:#646363;
    font-size: 13px;
}
  
.text a {
    color: #838181;
    transition: 0.3s;
}
  
.text a:hover {
    color: #8371fd;
}
  
main.sign-up-mode form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}
  
main.sign-up-mode form.sign-up-form {
    opacity: 1;
    pointer-events: all;
}
  
main.sign-up-mode .forms-wrap {
    left: 55%;
}
  
main.sign-up-mode .image_form_box {
    left: 0%;
}

.input__wrap small {
    color: rgb(202, 77, 5);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__wrap.error input{
    border: solid rgb(202, 77, 5) 1px;
    border-top: transparent; 
    border-left: transparent;
    border-right: transparent;
}

.input__wrap.exito input{
    border: solid #91e07f 1px; 
    border-top: transparent; 
    border-left: transparent;
    border-right: transparent;
}

.image_form_box {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 45%;
    top: 0;
    background-color: #91e07f;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}
  
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.image {
    width: 340px;
    transition: opacity 0.3s, transform 0.5s;
    opacity: 1;
}

  
@media (max-width: 768px){
    .box {
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .inner-box {
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }
    
    .forms-wrap {
        position: revert;
        width: 100%;
        height: auto;
    }

    form.sign-up-form {
        transform: translateX(100%);
        transition: 0.3s;
      }
    
      main.sign-up-mode form.sign-in-form {
        transform: translateX(-100%);
        transition: 0.3s;
      }
    
      main.sign-up-mode form.sign-up-form {
        transform: translateX(0%);
        transition: 0.3s;
      }

    .image_form_box {
        position: revert;
        height: 30px;
        width: 100%;
        padding: 3rem 2rem;
        display: flex;
    }
    
    .img-wrapper {
        width: 30px;
    }
}