@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300;1,600&display=swap');
:root {
    --color1: #22a619;
    --color2: #84cc74;
    --color3: #fbfbdb;
    --color4:#1B1A1A;
    --color5:#242424;
    --color6:#ccc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}

/*scrollbar*/
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #f5f1f0;
}

/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    z-index: 1;
    /*background: hsl(0, 0%, 100% / 0.1);*/
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
}

/*navbar*/
.navbar,
.navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.navbar__list a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: var(--color3);
    font-size: 20px;
    font-family: 'Zilla Slab';
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}

.menu__label{
    display: none;
}

/*********/

.cart__btn > button {
    border: 2px solid #ccc;
    outline:none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    transition: all 0.3s linear;
    background: transparent;
    /*background: linear-gradient(#C7D3DC, #496275);*/
    color: whitesmoke;
}

.cart {
    position: fixed;
    height: 100vh;
    width:500px;
    right: -560px;
    top:0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.7);
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    padding-right: 30px;
    padding-left: 30px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.open {
    right: 0;
}

.hide {
    visibility: hidden;
}

.cart__header{
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cart h4{
    color: var(--color5);
    font-family: 'Shrikhand';
    font-size: 35px;
    letter-spacing: 2px;
    margin: 10px;
}

.cart__header button {
    border:none;
    outline:none;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    background: linear-gradient(#b7cfc4, #239e1a);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    transition: all 0.3s linear;
    color: whitesmoke;
}

.btn__delete,
.btn__buy {
    text-decoration: none;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
}

.btn__delete {
    background: rgba(226, 23, 23, 0.952);
    color: whitesmoke;
    opacity: 0.9;
}

.btn__buy {
    background: var(--color2);
    color: whitesmoke;
    opacity: 0.9;
}

.cart__total {
    background: #333;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    color: whitesmoke;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-family:'Zilla Slab';
    letter-spacing: 1px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

/* carrito en si  */

.cart__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.empty__msg {
    color: var(--color6);
    font-size: 18px;
    font-family: 'Zilla Slab';
    font-weight: 600;
    letter-spacing: 1px;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  border: 1px solid var(--color5);
  border-radius: 15px;
}

.cart__item img {
  height: 70px;
  width: 70px;
}

.item__data {
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

.item__title {
  color: var(--color3);
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  font-family:'Zilla Slab';
}

.item__price {
  background: var(--color5);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.item__quantity__controller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2px 8px;
}

.item__quantity {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
}

.quantity__controller__up {
  border: 1px solid var(--color4);
  background-color:#84cc74;
  color: var(--color4);
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
}

.quantity__controller__down {
    border: 1px solid var(--color4);
    background-color:#84cc74;
    color: var(--color4);
    border-radius: 5px;
    padding: 5px 7px;
    font-weight: bolder;
}

/*overlayss*/
.overlay{
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay{
    display: block;
}

/*disabled*/
.disabled {
    background-color: rgba(255,255,255,0.7);
    color: white;
    cursor: not-allowed;
    border: none;
}
  .disabled:hover {
    background-color: rgba(255,255,255,0.7);
    color: white;
    cursor: not-allowed;
    border: none;
}

/*hero*/
#hero {
    padding: 70px 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.hero__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
 
.hero__content h1 {
    font-size: 58px;
    font-family:'Shrikhand';
    font-weight: lighter;
    margin-bottom: 0.1em;
}

.hero__content h2 {
    font-size: 25px;
    font-family: 'Zilla Slab';
}

/*about 1*/
#about-1,
#about-2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

#about-1 h2 {
    font-size: 42px;
    font-family:'Shrikhand';
    font-weight: lighter;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
 
.container__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 40px 0px;
    max-width: 1200px;
}
  
.img__about__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
}
 
 .img__about__1 img {
    width: 370px;
    box-shadow: 0 25px 25px -12px rgb(0 0 0 / 0.6);
}
 
.container__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.intro__txt{
     color: #242424;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 500px;
     font-size: 26px;
     font-family:'Zilla Slab';
     letter-spacing: 1px;
     text-align: center;
}

/*about 2*/
.second__container__intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.second__img__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
}

.second__img__about img{
    width: 370px;
    box-shadow: 0 25px 25px -12px rgb(0 0 0 / 0.6);
}

.second__intro__txt h2{
    font-size: 42px;
    font-family:'Shrikhand';
    font-weight: lighter;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.second__intro__txt{
    color: #242424;
    font-size: 25px;
    font-family:'Zilla Slab';
    letter-spacing: 1px;
    text-align: center;
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.second__intro__txt a{
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    background: #22a619;
    border-radius: 20px;
    border: solid 1px var(--color1);
    text-decoration: none;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 30px;
    transition: all .3s ease;
    font-family: 'Zilla Slab';
}

.second__intro__txt a:hover{
    color: #22a619;
    background: whitesmoke;
    border: #22a619 solid 1px;
}

/*banner*/
#banner-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
}

.banner__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: var(--color2);
    padding: 5px;
}

.banner__icon i{
    color: var(--color5) ;
    font-size: 30px;
    text-align: center;
}

.banner__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.banner__info{
    font-size: 18px;
    color: var(--color5);
    font-family: 'Zilla Slab';
}

/* filtros-categorias*/
#products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    max-width: 1200px;
    width: 70%;
    margin: auto;
}
#products h2 {
    font-size: 40px;
    font-family: 'Shrikhand';
    letter-spacing: 3px;
    margin-bottom: 20px;
    padding: 10px;
    color: #1B1A1A;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 8px 25px;
    background-color: #ffffffde;
    box-shadow: 0 0 9.04652px 3.39245px rgb(0 0 0 / 9%);
    border-radius: 30px;
}
.category {
    background-color: transparent;
    padding: 6px 10px;
    color: #1B1A1A;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family:'Zilla Slab';
    letter-spacing: 1px;
    cursor: pointer;
}
.category:hover{
        background-color: gainsboro;
}
.active {
    background-color: gainsboro;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}
.product {
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffffffde;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
    border-radius: 7px;
    padding: 15px;
    height: 410px;
    width: 260px;
}

.product__info{
    padding: 10px;
    color: #1B1A1A;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: 'Zilla Slab';
}

.product h3 {
    justify-content: center;
    font-size: 20px;
    font-family: 'Zilla Slab';
    color: #1B1A1A;
}

.product img {
    height: 260px;
    width: 100%;
}

.btn-add {
    cursor: pointer;
    padding: 9px 35px;
    border-radius: 13px;
    border: none;
    color: whitesmoke;
    background: #1B1A1A;
    font-size: 16px;
    font-family:'Zilla Slab'; 
}
.btn-add:hover {
    opacity: 0.8;
}
.btn__load {
    cursor: pointer;
    padding: 9px 30px;
    margin-top: 20px;
    border-radius: 13px;
    border: none;
    color: whitesmoke;
    background:#1B1A1A; 
    font-size: 16px;
}

.btn__load:hover{
    opacity: 0.9;
}
.hidden {
    display: none;
}
/*giftcard*/

.giftcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 45px;
    margin: 40px;
}

.giftcard__item{
    border: none;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 0.4);
    background-image: url(./assets/giftcard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 50px;
    height: 300px;
}

.giftcard__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    color: var(--color4);
    background-color: transparent;
    letter-spacing: 1px;
    font-family: 'Zilla Slab';
}

.giftcard__text p {
    font-weight: bolder;
    font-size: 27px;
    color: var(--color6);
}

.giftcard__text h2 {
    font-family:'Shrikhand';
    font-size: 30px;
    margin-top: 5px;
    letter-spacing: 2px;
}

.giftcard__text button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    background: #22a619;
    color: var(--color6);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Zilla Slab';
    cursor: pointer;
    margin-top: 25px;
    transition: all .3s ease;
}

.giftcard__text button:hover{
    color: var(--color6);
    background: var(--color4);
    border: none;
}

/*contacto*/
#contact{
    display: flex;
    padding: 40px;
    width: 100%;
    justify-content: space-around;
    color: #242424;
    flex-wrap: wrap;
    gap: 30px;
    font-family:'Zilla Slab';
    font-size: 20px;
    margin: auto;
}

.green__bg{
    background-color: #84cc74;
}

.contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact__info__container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.info__column h3{
    font-size: 24px;
}

.info__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.second__info__column a{
    text-decoration: none;
    color: #1B1A1A;
    display: inline-block;
    padding: 8px;
}

.second__info__column a:hover{
    color: whitesmoke;
    transform: scale(1.2);
}

.info__column__atencion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.info__column__atencion a {
    color: #242424;
}

.info__column__atencion a:hover{
    color: var(--color3);
}

.contact__logo {
    border: #f5f1f0 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

footer{
    width: 100%;
    color: #242424;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family:'Zilla Slab';
}

footer span{
    font-weight: 800;
}

footer a{
    font-weight: 800;
    color: #242424;
}